.TodoList{
    width: 400px;
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
}

.TodoListContainer{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}